<div class="col-md-12" style="padding: 10px;">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
				<div class="col-md-12  aqi-details-tab-base">
					<div class="col-md-12 floor_list_base">
						<ul>
							<li ng-repeat="f in floors" ng-class="{'active':$index===floor,'disabled':hygieneLoading }" ng-click="changeFloor(f.id)">{{f.name}}</li>
						</ul>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="" data-target="#hygiene-detailse">Hygiene</a></li>
					</ul>

					<div class="tab-content aqi-details-tab-base-inner">
						<div id="hygiene-detailse" class="tab-pane fade in active aqi-details-tab-base-content">
							<img alt="" class="loading_image" ng-show="hygieneLoading" src="images/25.gif">
							<ul class="nav nav-tabs" id="hygiene-tab">
								<li ng-repeat="hygiene in hygieneData" ng-class="{'active':$index==tabIndex}"><a data-toggle="tab" href="#" data-target="#hygiene__{{$index}}" ng-click="selectTab($index)">{{hygiene.assetName}}</a></li>
							</ul>
							<div id="hygiene-tab-content" style="min-height: 273px;" ng-show="!hygieneLoading" class="tab-content aqi-details-tab-base-content-inner">
								<div ng-repeat="hygiene in hygieneData" id="hygiene_{{$index}}" ng-class="{'active':$index==tabIndex}" class="tab-pane fade in">
									<div id="hygiene_chart_{{$index}}" class="hygiene_details_graph_class hygiene_details_graph_class_machine" style="min-height: 253px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>