<div class="loaderpg">
	
</div>
<img src='/images/25.gif' class="lad_img">

<div>
	<div class="col-md-12">
		<div class="col-md-4">
			<h4>Temperature</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="graph_01" class="class_graph_01" style="height: 250px;"></div>
		</div>
	</div>
	<div class="clearfix"></div>


	<div class="col-md-12">
		<div class="col-md-4">
			<h4>Noise</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="graph_02" class="graph_02" style="height: 250px;"></div>
		</div>
	</div>
	<div class="clearfix"></div>


	<div class="col-md-12" style="margin-bottom: 30px;">
		<div class="col-md-4">
			<h4>Humidity</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="graph_03" class="graph_03" style="height: 250px;"></div>
		</div>
	</div>
</div>