<style>
main{background:url('../images/Map.png');   
	 background-size: contain;
    background-repeat-y: no-repeat;
    background-position: center;
    }
    main:not([style-scope]):not(.style-scope) {
    background-color: #eee!important;
} 

    
</style>
<div class="loaderpg_dash"></div>
<img src='/images/25.gif' class="lad_img_dash">
 <div class="col-md-5 pull-right text-right ">
 	<ul class="dash_op">
	  	<li class="active" ng-click="show_all()"><a href="#tab1" data-toggle="tab">All</a></li>
		<li ng-click="hide_red()"><a href="#tab1" data-toggle="tab">compliant</a></li>
		<li ng-click="hide_green()"><a href="#tab1" data-toggle="tab">Non-compliant</a></li>
	</ul>
 	 
 </div>
 <div class="clearfix"></div>

 
 <div class="col-md-4 icon_wrap">
 	
 	
 	
 <div class="dropdown smt_area" ng-click="gotoaqi('x1')">
	  <div ng-class="{'air_red': sever , 'air_grn': green}"></div>
	  <div class="dropdown-content air_grn_bdr">
	    <p>Air quality index</p>
	    <span class="green_box_title">SMT Area</span>
	    <div class="clearfix"></div>
	    <div class="gaugae"><div id="camp31" class="c3"></div></div>
	    <div class="status">
			<h2 class="stis_sta_dash">{{SMT_updated_status}}</h2>
			<h4 class="status_txt_dash">Status</h4>
		</div>
		<h6 class="prami_txt">Prominent pollutant: {{SMT_maxaqi_name}}</h6>
	  </div>
</div>


 <div class="dropdown production_grnd" ng-click="gotoaqi('x2')">
	  <div ng-class="{'air_red': sever , 'air_grn': green}"></div>
	  <div class="dropdown-content air_grn_bdr">
	   <p>Air quality index</p>
	   <span class="green_box_title">Production ground floor</span>
	   <div class="clearfix"></div>
	    <div class="gaugae"><div id="camp32" class="c3"></div></div>
	    <div class="status">
			<h2 class="stis_sta_dash">{{PGF_updated_status}}</h2>
			<h4 class="status_txt_dash">Status</h4>
		</div>
		<h6 class="prami_txt">Prominent pollutant: {{PGF_maxaqi_name}}</h6>
	  </div>
</div>

 <div class="dropdown near_sol" ng-click="gotoaqi('x3')">
	  <div ng-class="{'air_red': sever , 'air_grn': green}" ></div>
	  <div class="dropdown-content air_grn_bdr">
	   <p>Air quality index</p>
	   <span class="green_box_title">Near Soldering Machine</span>
	   <div class="clearfix"></div>
	    <div class="gaugae"><div id="camp33" class="c3"></div></div>
	    <div class="status">
			<h2 class="stis_sta_dash">{{NSM_updated_status}}</h2>
			<h4 class="status_txt_dash">Status</h4>
		</div>
		<h6 class="prami_txt">Prominent pollutant: {{NSM_maxaqi_name}}</h6>
	  </div>
</div>

 <div class="dropdown heller_mach" ng-click="gotoaqi('h1')">
	  <div ng-class="{'air_red': war , 'air_grn': sat}" ></div>
	  <div class="dropdown-content air_grn_bdr">
	    <h4 class="box_text">Process Stack Emission</h4>
			<span class="green_box_title">Heller Machine</span>
			<p  class="clear_b"><span class="pull-left span_text">S02</span><span class="pull-right span1_text">{{HM_so2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">N02</span><span class="pull-right span1_text">{{HM_no2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">PM 2.5</span><span class="pull-right span1_text">{{HM_pm2_5}} ppb</span></p>		
	  </div>
</div>

 <div class="dropdown solte_mach" ng-click="gotoaqi('h2')">
	  <div ng-class="{'air_red': war , 'air_grn': sat}" ></div>
	  <div class="dropdown-content air_grn_bdr">
	    <h4 class="box_text">Process Stack Emission</h4>
			<span class="green_box_title">Soltech Machine</span>
			<p  class="clear_b"><span class="pull-left span_text">S02</span><span class="pull-right span1_text">{{SM_so2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">N02</span><span class="pull-right span1_text">{{SM_no2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">PM 2.5</span><span class="pull-right span1_text">{{SM_pm2_5}} ppb</span></p>		
	  </div>
</div>

 <div class="dropdown relfl_mach" ng-click="gotoaqi('h3')">
	  <div ng-class="{'air_red': war , 'air_grn': sat}" ></div>
	  <div class="dropdown-content air_grn_bdr">
	   <h4 class="box_text">Process Stack Emission</h4>
			<span class="green_box_title">Relfow Oven</span>
			<p  class="clear_b"><span class="pull-left span_text">S02</span><span class="pull-right span1_text">{{Ro_so2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">N02</span><span class="pull-right span1_text">{{Ro_no2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">PM 2.5</span><span class="pull-right span1_text">{{Ro_pm2_5}} ppb</span></p>		
	  </div>
</div>

 <div class="dropdown wave_mach" ng-click="gotoaqi('h4')">
	  <div ng-class="{'air_red': war , 'air_grn': sat}" ></div>
	  <div class="dropdown-content air_grn_bdr">
	    <h4 class="box_text">Process Stack Emission</h4>
			<span class="green_box_title">Wave Soldering Machine</span>
			<p  class="clear_b"><span class="pull-left span_text">S02</span><span class="pull-right span1_text">{{Wsm_so2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">N02</span><span class="pull-right span1_text">{{Wsm_no2}} ppb</span></p>
			<p  class="clear_b"><span class="pull-left span_text">PM 2.5</span><span class="pull-right span1_text">{{Wsm_pm2_5}} ppb</span></p>		
	  </div>
</div>

 <div class="dropdown smt1_hygn" ng-click="gotohygn('x1')">
	  <div ng-class="{'hygn_red': hygn_wa , 'hygn_grn': hygn_sat}" ></div>
	  <div class="dropdown-content hygn_grn_bdr">
	    <h4 class="box_text">Industrial hygiene</h4>
			<span class="darkg_box_title">SMT line 1</span>
			<p  class="clear_b"><span class="pull-left span_text">Temprature</span><span class="pull-right span1_text">{{smt1_temp}} <sup>0</sup>c</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Humidity</span><span class="pull-right span1_text">{{smt1_hums}} %</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Noise</span><span class="pull-right span1_text">{{smt1_nois}} db</span></p>		
	  </div>
</div>

 <div class="dropdown smt2_hygn" ng-click="gotohygn('x2')">
	  <div ng-class="{'hygn_red': hygn_wa , 'hygn_grn': hygn_sat}"  ></div>
	  <div class="dropdown-content hygn_grn_bdr">
	    <h4 class="box_text">Industrial hygiene</h4>
			<span class="darkg_box_title">SMT line 2</span>
			<p  class="clear_b"><span class="pull-left span_text">Temprature</span><span class="pull-right span1_text">{{smt2_temp}}<sup>0</sup>c</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Humidity</span><span class="pull-right span1_text">{{smt2_hums}} %</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Noise</span><span class="pull-right span1_text">{{smt2_nois}} db</span></p>		
	  </div>
</div>

 <div class="dropdown productn_hygn" ng-click="gotohygn('x3')">
	  <div ng-class="{'hygn_red': hygn_wa , 'hygn_grn': hygn_sat}" ></div>
	  <div class="dropdown-content hygn_grn_bdr">
	    <h4 class="box_text">Industrial hygiene</h4>
			<span class="darkg_box_title">Production Ground Floor</span>
			<p  class="clear_b"><span class="pull-left span_text">Temprature</span><span class="pull-right span1_text">{{Hpg_temp}} <sup>0</sup>c</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Humidity</span><span class="pull-right span1_text">{{Hpg_hums}} %</span></p>
			<p  class="clear_b"><span class="pull-left span_text">Noise</span><span class="pull-right span1_text">{{Hpg_nois}} db</span></p>		
	  </div>
</div>

 </div>
 <div class="col-md-4 pull-right detail_das">
 	<div class="col-md-9">
 	<p><i class="fa fa-cloud" aria-hidden="true"></i>Air quality Monitoring</p>
 	<p><i class="fa fa-industry" aria-hidden="true"></i>Industrial Hygiene Monitoring</p>
	<p><i class="fa fa-tint" aria-hidden="true"></i>Water & discharge Management </p>
	<p><i class="fa fa-plug" aria-hidden="true"></i>Energy & carbon Management</p>
	<p><i class="fa fa-recycle" aria-hidden="true"></i>Waste Management</p>
 	</div>
 	<div class="col-md-3 padd0">
 		<p class="status_hed">Status</p>
 		<ul class="status_ul">
 			<li class="sat_li">Satisfactory</li>
 			<li class="war_li">Warning</li>
 		</ul>
 	</div>
 </div>
 

	
